# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
coverage/
.tmp/
.cache/
.DS_Store

# Database artifacts
*.sqlite
*.sqlite3
pgdata/

# Editor & system files
.vscode/
.idea/
*.swp
Thumbs.db

# OS
.DS_Store
ehthumbs.db
Icon?
Desktop.ini

# Sequelize migrations/temp
migrations/
seeders/

# Uploads & temp files
uploads/
temp/

# Secrets
.env
.env.txt
firebase-service-account.json
